version: '3'
services:
  mysql:
    image: mysql:8.0.16
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports: 
      - "3306:3306"
  web:
    build:
      context: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 5000 -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    tty: true
    networks: 
      - default
      - shared-network
networks:
  shared-network:
    external: true